/*=============================================================================
 * Copyright (C) 2015-2016 Stephen F. Norledge and Alces Software Ltd.
 *
 * This file is part of Alces Portal.
 *
 * All rights reserved, see LICENSE.txt.
 *===========================================================================*/
{
  // We use React and ECMAScript 2015.
  "presets": ["react", "es2015"],

  // We also use the "object rest spread operator":
  //   {...state, myKey: newValue}
  // and export extensions, both of which aren't part of es2015.
  "plugins": ["transform-object-rest-spread", "transform-export-extensions"],

  // Plugins to use depending on the environment.
  "env": {
    // Only enable in development builds (when process.env.NODE_ENV is
    //  'development' or undefined).
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": [ "react" ],
            "locals": ["module"]
          },
          {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "delicate-error-reporter"]
          }]
        }]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
