.flightNav {
    background: $c-primary-background;
    border: rem(1px) solid $c-primary-color;
    border-bottom-color: $c-sec2-color--muted;
    border-radius: 0;
    margin-bottom: 0;
    border-width: 0 0 1px;
}
