@import "./core/settings";

.pageContainer {
    padding-top: $navbar-height;
    padding-bottom: $l-footer-height;
}

.page {
  width: 100%;
}

.fade-in-out-enter {
  position: absolute;
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.fade-in-out-enter.fade-in-out-enter-active {
  opacity: 1;
}

.fade-in-out-leave {
  position: absolute;
  opacity: 1;
  transition: opacity .3s ease-in;
}

.fade-in-out-leave.fade-in-out-leave-active {
  opacity: 0;
}

@keyframes spinStopSpin {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(0deg); }
    40% { transform: rotate(180deg); }
    60% { transform: rotate(180deg); }
    80% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}

.animation-spinStopSpin {
    animation-name: spinStopSpin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.animation-slowSpin {
    animation: spin 4s infinite linear;
}


.flight-counter {
    position: relative;
    overflow-y: hidden;
}

.flight-nav-counter-animate-increment-enter,
.flight-nav-counter-animate-decrement-enter {
    position: absolute;
    right: 0;
    left: 0;
    transition: 1s linear all;
}
.flight-nav-counter-animate-increment-enter {
    top: 20px;
}
.flight-nav-counter-animate-decrement-enter {
    top: -20px;
}


.flight-nav-counter-animate-increment-leave,
.flight-nav-counter-animate-decrement-leave {
    position: relative;
    top: 0;
    transition: 1s linear all;
}

.flight-nav-counter-animate-increment-enter.flight-nav-counter-animate-increment-enter-active,
.flight-nav-counter-animate-decrement-enter.flight-nav-counter-animate-decrement-enter-active {
    top: 0px;
}

.flight-nav-counter-animate-increment-leave.flight-nav-counter-animate-increment-leave-active {
    top: -20px;
}

.flight-nav-counter-animate-decrement-leave.flight-nav-counter-animate-decrement-leave-active {
    top: 20px;
}



// -------
@keyframes portal-counter-flash {
    0%   { box-shadow: none; }
    50%  { box-shadow: 0 0 2px 2px #fbf8b2; }
    100% { box-shadow: none; }
}
.flight-nav-counter-animate-flash-enter {
}

.flight-nav-counter-animate-flash-enter-active {
  animation: portal-counter-flash 0.75s ease-out;
  animation-iteration-count: 3;
}
