.error-check {
    line-height: 2.3;
    vertical-align: middle;
    position: relative;
    left: -1rem;
    display: inline-block;

    .fa {
        vertical-align: middle;
        display: inline-block;

        // top: 3px;
    }
}

.error-check--good {
    color: #3C763D;
}

.error-check--bad {
    color: #a94442;
}

.error-check--checking {
}
