$base-fontSize: 16px;

@function rem($size) {
    @return #{$size / $base-fontSize}rem;
}

.welcomeTitle {
    padding: rem(20px);
    margin: rem(-15px) rem(-15px) rem(20px) rem(-15px);
    border-top-left-radius: rem(5px);
    border-top-right-radius: rem(5px);
    // background-color: transparentize($c-primary-color--darkest, 0.7);
}
.welcomeTitle-title {
    line-height: 1.1;
    font-size: rem(56px);
    STRONG {
        font-weight: normal;
    }
}
