.portalLoadIndicator {
    @extend .container;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 10%;
    text-align: center;
    P {
        font-size: 120%;
    }
}

.portalLoadIndicator-container {
    @extend .progress;
    @extend .progress-striped;
    @extend .active;
    background-color: $progress-bar-bg;
}

.portalLoadIndicator-indicator {
    @extend .progress-bar;
    transition-duration: 0.1s;
}

