/* ----- Reset ----- */
@import "./core/reset";

/* ----- Settings ----- */
@import "./core/settings";


/* mjt - bootstrap is imported here, as it is configured via SASS
   variables held in core/settings but it affects layout and content
   styles (which are, instead, latterly overridden by our own. */
/* Fix opacity of popover arrows:
   https://github.com/twbs/bootstrap-sass/pull/600 */
$popover-border-color: rgba(0,0,0,.2) !default;
$popover-arrow-outer-color: fade_in($popover-border-color, 0.05);
@import "bootstrap/bootstrap";

/* ----- Helpers ----- */
@import "./core/helpers";

// /* ----- Base ----- */
@import "./core/base";

/* ----- Content ----- */
@import "./core/content";

/* ----- Layout ----- */
@import "./core/layout";

@import "./contrib/boilerplate/helpers";

/* Core application styles */
@import "./flight";
@import "./nav/flightNav";

/* XXX Consider whether these should be required by their components. They
 * need access to the SASS context (helpers, basic settings, bootstrap
 * settings, others?) to be compiled.
 */
@import "./pageHeader";
@import "./footer";
@import "./homePage";

@import "./animations";
