@import "core/settings";
@import "core/helpers";

.missingNotice {
    background-color: $c-bg-color--lighter;
    color: $text-muted;

    .missingNotice-title {
        font-weight: bold;
    }

    .missingNotice-body {
        p {
            margin-bottom: rem(15px);
            font-size: 21px;
        }
    }
}
